APP_NAME=EZFOTOO API
APP_VERSION=2.0.0
APP_ENVIRONMENT=development
DEBUG=true

API_HOST=0.0.0.0
API_PORT=8000

FRONTEND_URL=http://localhost:3000

DATABASE_URL=

# =========================
# SUPABASE
# =========================

SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=

# =========================
# R2 PUBLIC MEDIA
# =========================

R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=ezfotoo-media
R2_PUBLIC_URL=

# =========================
# R2 PRIVATE MEDIA
# =========================
R2_PRIVATE_ACCESS_KEY_ID=
R2_PRIVATE_SECRET_ACCESS_KEY=
R2_PRIVATE_BUCKET_NAME=ezfotoo-private


# =========================
# VERCEL
# =========================

VERCEL_ACCESS_TOKEN=
VERCEL_PROJECT_ID=
VERCEL_ROOT_DOMAIN=ezfotoo.com

GALLERY_ACCESS_SECRET=
GALLERY_CLEANUP_SECRET=

CHIP_MODE=test
CHIP_API_BASE_URL=https://gate.chip-in.asia/api/v1
CHIP_BRAND_ID=
CHIP_API_KEY=

EVENT_ORDER_ACCESS_SECRET=

REDIS_URL=

RESEND_API_KEY=